name: banky_mobile
description: BANKY Member Mobile App - Bank & Sacco Management

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^1.0.6
  get: ^4.6.6
  get_storage: ^2.1.1
  dio: ^5.4.0
  flutter_secure_storage: ^9.0.0
  intl: ^0.19.0
  flutter_local_notifications: ^17.0.0
  firebase_core: ^2.25.4
  firebase_messaging: ^14.7.15
  url_launcher: ^6.2.4
  path_provider: ^2.1.2
  share_plus: ^7.2.1
  pdf: ^3.10.7
  printing: ^5.12.0
  cached_network_image: ^3.3.1
  shimmer: ^3.0.0
  pull_to_refresh: ^2.0.0
  flutter_svg: ^2.0.9
  pinput: ^4.0.0
  lottie: ^3.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
    - assets/icons/
    - assets/animations/

  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700
